<div class="profile-content">


    <!--====================================================== MENU ================================ -->
    <div class="menu">
        <p class="menu-item selected" data-target="#perfil">Mi Perfil</p>
        <p class="menu-item" data-target="#pedidos">Mis pedidos</p>
    </div>



    <!--====================================================== CONTENT 1================================ -->
    <div data-content id="perfil" class="active">

        <div class="profile-info">

            <div class="section-title">
                <h2 class="welcome-profile"> ¡Bienvenido
                    <%= user.nombre%>
                        <%= user.apellido%>!
                </h2>



            </div>


            <div class="profile-info-container">
                <div class="row-profile-content">

                    <div class="profile-value-container">
                        <h2 class="profile-title"> Nombre </h2>
                        <input type="text" value="<%= user.nombre %>" readonly class="profile-value">
                    </div>

                    <div class="profile-value-container">
                        <h2 class="profile-title"> Apellido </h2>
                        <input type="text" value="<%= user.apellido %>" readonly class="profile-value">
                    </div>


                </div>

                <div class="row-profile-content">

                    <div class="profile-value-container">
                        <h2 class="profile-title"> Mail </h2>
                        <input type="text" value="<%= user.mail %>" readonly class="profile-value">
                    </div>


                </div>


                <div class="row-profile-content">

                    <div class="profile-value-container">
                        <h2 class="profile-title"> Dirección </h2>
                        <input type="text" value="<%= user.direccion %>" readonly class="profile-value">
                    </div>

                    <div class="profile-value-container">
                        <h2 class="profile-title"> Teléfono </h2>
                        <input type="text" value="<%= user.telefono %>" readonly class="profile-value">
                    </div>


                </div>


            </div>



            <div class="logout-btn-container">
                <a href="/auth/logout">Cerrar sesión</a>
            </div>




        </div>

    </div>

    <!--======================================================== CONTENT 2================================ -->
    <div data-content id="pedidos">

        <p>pedidos</p>

    </div>


    <div class="wine-waves-container">
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(109,0,0,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(153,0,0,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(88,0,0,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(88,0,0,1)" />
                    </g>
                    </svg>
        </div>
    </div>

</div>



<script src="/js/tabMenu.js"></script>